# Set Up Files

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
cd '/content/drive/My Drive/550datasets/'

/content/drive/My Drive/550datasets

In [ ]:
ls

'550_Datasets Summary.ipynb'
'550 Project'@
 LCA_Disclosure_Data_FY2021_Q1.csv
 PERM_Disclosure_Data_FY2021_Q1.csv
 Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv
 Zip_ZORI_AllHomesPlusMultifamily_Smoothed.csv

# Zillow Rental Dataset

In [ ]:
df_rent = pd.read_csv('Zip_ZORI_AllHomesPlusMultifamily_Smoothed.csv')

In [ ]:
df_rent.head()

   RegionID  RegionName  SizeRank  ... 2020-10  2020-11  2020-12
0     61639       10025         1  ...  2703.0   2664.0   2698.0
1     84654       60657         2  ...  1638.0   1601.0   1622.0
2     61637       10023         3  ...  3029.0   2958.0   2921.0
3     91982       77494         4  ...  1882.0   1906.0   1922.0
4     84616       60614         5  ...  1840.0   1784.0   1760.0

[5 rows x 88 columns]

In [ ]:
df_rent.describe()

            RegionID    RegionName  ...       2020-11       2020-12
count    2263.000000   2263.000000  ...   2253.000000   2241.000000
mean    86395.516571  54863.478568  ...   1841.900133   1847.394021
std     44128.054155  30725.555791  ...    697.368217    698.446030
min     58477.000000   1752.000000  ...    688.000000    742.000000
25%     70831.000000  30040.500000  ...   1426.000000   1433.000000
50%     82164.000000  53202.000000  ...   1692.000000   1702.000000
75%     95316.000000  85333.000000  ...   2123.000000   2130.000000
max    753844.000000  99208.000000  ...  15029.000000  15360.000000

[8 rows x 87 columns]

In [ ]:
df_rent2 = df_rent[['RegionID','RegionName','SizeRank','2020-12']]

In [ ]:
df_rent2.describe()

            RegionID    RegionName     SizeRank       2020-12
count    2263.000000   2263.000000  2263.000000   2241.000000
mean    86395.516571  54863.478568  2364.555899   1847.394021
std     44128.054155  30725.555791  1788.855500    698.446030
min     58477.000000   1752.000000     1.000000    742.000000
25%     70831.000000  30040.500000   883.000000   1433.000000
50%     82164.000000  53202.000000  2022.000000   1702.000000
75%     95316.000000  85333.000000  3511.000000   2130.000000
max    753844.000000  99208.000000  9592.000000  15360.000000

# Zillow Housing Dataset

In [ ]:
df_housing = pd.read_csv('Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
df_housing.head()

   RegionID  SizeRank  RegionName  ... 2020-10-31 2020-11-30 2020-12-31
0     61639         0       10025  ...  1165854.0  1162883.0  1159148.0
1     84654         1       60657  ...   484905.0   487859.0   490856.0
2     61637         2       10023  ...  1138269.0  1132154.0  1120459.0
3     91982         3       77494  ...   343045.0   345999.0   350187.0
4     84616         4       60614  ...   627034.0   630416.0   633821.0

[5 rows x 309 columns]

In [ ]:
df_housing.describe()

            RegionID      SizeRank  ...    2020-11-30    2020-12-31
count   30329.000000  30329.000000  ...  3.032900e+04  3.032900e+04
mean    80467.501006  15927.440371  ...  2.396915e+05  2.420703e+05
std     25606.597610   9571.140352  ...  2.424373e+05  2.447826e+05
min     58001.000000      0.000000  ...  1.452400e+04  1.446200e+04
25%     68877.000000   7673.000000  ...  1.112980e+05  1.120210e+05
50%     79235.000000  15455.000000  ...  1.747850e+05  1.763440e+05
75%     89244.000000  23974.000000  ...  2.821520e+05  2.855010e+05
max    753844.000000  35187.000000  ...  6.488217e+06  6.547075e+06

[8 rows x 303 columns]

In [ ]:
df_housing2 = df_housing[['RegionID','RegionName','SizeRank','2020-12-31']]
df_housing2.describe()

            RegionID    RegionName      SizeRank    2020-12-31
count   30329.000000  30329.000000  30329.000000  3.032900e+04
mean    80467.501006  48860.218537  15927.440371  2.420703e+05
std     25606.597610  27392.068650   9571.140352  2.447826e+05
min     58001.000000    501.000000      0.000000  1.446200e+04
25%     68877.000000  26036.000000   7673.000000  1.120210e+05
50%     79235.000000  48429.000000  15455.000000  1.763440e+05
75%     89244.000000  71745.000000  23974.000000  2.855010e+05
max    753844.000000  99901.000000  35187.000000  6.547075e+06

# Department of Labor (DOL) LCA Dataset

In [ ]:
df_lca = pd.read_csv('LCA_Disclosure_Data_FY2021_Q1.csv')
df_lca.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          CASE_NUMBER  ...          PREPARER_EMAIL
0  I-200-20268-843329  ...  gov@poorvichothani.com
1  I-200-20268-843033  ...                     NaN
2  I-200-20268-843527  ...                     NaN
3  I-200-20268-844241  ...                     NaN
4  I-200-20268-844003  ...                     NaN

[5 rows x 96 columns]

In [ ]:
df_lca.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE',
       'ORIGINAL_CERT_DATE', 'VISA_CLASS', 'JOB_TITLE', 'SOC_CODE',
       'SOC_TITLE', 'FULL_TIME_POSITION', 'BEGIN_DATE', 'END_DATE',
       'TOTAL_WORKER_POSITIONS', 'NEW_EMPLOYMENT', 'CONTINUED_EMPLOYMENT',
       'CHANGE_PREVIOUS_EMPLOYMENT', 'NEW_CONCURRENT_EMPLOYMENT',
       'CHANGE_EMPLOYER', 'AMENDED_PETITION', 'EMPLOYER_NAME',
       'TRADE_NAME_DBA', 'EMPLOYER_ADDRESS1', 'EMPLOYER_ADDRESS2',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'NAICS_CODE', 'EMPLOYER_POC_LAST_NAME',
       'EMPLOYER_POC_FIRST_NAME', 'EMPLOYER_POC_MIDDLE_NAME',
       'EMPLOYER_POC_JOB_TITLE', 'EMPLOYER_POC_ADDRESS_1',
       'EMPLOYER_POC_ADDRESS_2', 'EMPLOYER_POC_CITY', 'EMPLOYER_POC_STATE',
       'EMPLOYER_POC_POSTAL_CODE', 'EMPLOYER_POC_COUNTRY',
       'EMPLOYER_POC_PROVINCE', 'EMPLOYER_POC_PHONE', 'EMPLOYER_POC_PHONE_EXT',
       'EMPLOYER_POC_EMAIL', 'AGENT_REPRESENTING_EMPLOYER',
       'AGENT_ATTORNEY_LAST_NAME', 'AGENT_ATTORNEY_FIRST_NAME',
       'AGENT_ATTORNEY_MIDDLE_NAME', 'AGENT_ATTORNEY_ADDRESS1',
       'AGENT_ATTORNEY_ADDRESS2', 'AGENT_ATTORNEY_CITY',
       'AGENT_ATTORNEY_STATE', 'AGENT_ATTORNEY_POSTAL_CODE',
       'AGENT_ATTORNEY_COUNTRY', 'AGENT_ATTORNEY_PROVINCE',
       'AGENT_ATTORNEY_PHONE', 'AGENT_ATTORNEY_PHONE_EXT',
       'AGENT_ATTORNEY_EMAIL_ADDRESS', 'LAWFIRM_NAME_BUSINESS_NAME',
       'STATE_OF_HIGHEST_COURT', 'NAME_OF_HIGHEST_STATE_COURT',
       'WORKSITE_WORKERS', 'SECONDARY_ENTITY',
       'SECONDARY_ENTITY_BUSINESS_NAME', 'WORKSITE_ADDRESS1',
       'WORKSITE_ADDRESS2', 'WORKSITE_CITY', 'WORKSITE_COUNTY',
       'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'PREVAILING_WAGE',
       'PW_UNIT_OF_PAY', 'PW_TRACKING_NUMBER', 'PW_WAGE_LEVEL', 'PW_OES_YEAR',
       'PW_OTHER_SOURCE', 'PW_OTHER_YEAR', 'PW_SURVEY_PUBLISHER',
       'PW_SURVEY_NAME', 'TOTAL_WORKSITE_LOCATIONS', 'AGREE_TO_LC_STATEMENT',
       'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B', 'STATUTORY_BASIS',
       'APPENDIX_A_ATTACHED', 'PUBLIC_DISCLOSURE', 'PREPARER_LAST_NAME',
       'PREPARER_FIRST_NAME', 'PREPARER_MIDDLE_INITIAL',
       'PREPARER_BUSINESS_NAME', 'PREPARER_EMAIL'],
      dtype='object')

In [ ]:
df_lca2 = df_lca[['VISA_CLASS', 
                   'JOB_TITLE', 
                   'SOC_TITLE', 
                  #  'NEW_EMPLOYMENT', 
                  #  'CONTINUED_EMPLOYMENT', 
                  #  'CHANGE_EMPLOYER', 
                   'EMPLOYER_NAME', 
                   'EMPLOYER_CITY', 
                   'EMPLOYER_STATE', 
                   'EMPLOYER_POSTAL_CODE', 
                   'EMPLOYER_COUNTRY', 
                   'PREVAILING_WAGE']]
df_lca2.head()

  VISA_CLASS  ... PREVAILING_WAGE
0       H-1B  ...         97406.0
1       H-1B  ...         84510.0
2       H-1B  ...         70678.0
3       H-1B  ...         81453.0
4       H-1B  ...         91146.0

[5 rows x 9 columns]

In [ ]:
df_lca2.describe(include='all')

       VISA_CLASS          JOB_TITLE  ...          EMPLOYER_COUNTRY PREVAILING_WAGE
count       80622              80622  ...                     80622    80622.000000
unique          4              25780  ...                         1             NaN
top          H-1B  Software Engineer  ...  UNITED STATES OF AMERICA             NaN
freq        77933               2924  ...                     80622             NaN
mean          NaN                NaN  ...                       NaN    97892.258347
std           NaN                NaN  ...                       NaN    41693.153092
min           NaN                NaN  ...                       NaN        9.750000
25%           NaN                NaN  ...                       NaN    77397.000000
50%           NaN                NaN  ...                       NaN    97406.000000
75%           NaN                NaN  ...                       NaN   120578.000000
max           NaN                NaN  ...                       NaN   416384.000000

[11 rows x 9 columns]

# Department of Labor (DOL) PERM Dataset

In [ ]:
df_perm = pd.read_csv('PERM_Disclosure_Data_FY2021_Q1.csv')
df_perm.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     CASE_NUMBER  ... Unnamed: 154
0  A-19178-24147  ...          NaN
1  A-19198-32049  ...          NaN
2  A-19224-43106  ...          NaN
3  A-19248-53820  ...          NaN
4  A-19252-55077  ...          NaN

[5 rows x 155 columns]

In [ ]:
list(df_perm.columns.values)

['CASE_NUMBER',
 'CASE_STATUS',
 'RECEIVED_DATE',
 'DECISION_DATE',
 'REFILE',
 'ORIG_FILE_DATE',
 'PREVIOUS_SWA_CASE_NUMBER_STATE',
 'SCHD_A_SHEEPHERDER',
 'EMPLOYER_NAME',
 'EMPLOYER_ADDRESS_1',
 'EMPLOYER_ADDRESS_2',
 'EMPLOYER_CITY',
 'EMPLOYER_STATE_PROVINCE',
 'EMPLOYER_COUNTRY',
 'EMPLOYER_POSTAL_CODE',
 'EMPLOYER_PHONE',
 'EMPLOYER_PHONE_EXT',
 'EMPLOYER_NUM_EMPLOYEES',
 'EMPLOYER_YEAR_COMMENCED_BUSINESS',
 'NAICS_CODE',
 'FW_OWNERSHIP_INTEREST',
 'EMP_CONTACT_NAME',
 'EMP_CONTACT_ADDRESS_1',
 'EMP_CONTACT_ADDRESS_2',
 'EMP_CONTACT_CITY',
 'EMP_CONTACT_STATE_PROVINCE',
 'EMP_CONTACT_COUNTRY',
 'EMP_CONTACT_POSTAL_CODE',
 'EMP_CONTACT_PHONE',
 'EMP_CONTACT_EMAIL',
 'AGENT_ATTORNEY_NAME',
 'AGENT_ATTORNEY_FIRM_NAME',
 'AGENT_ATTORNEY_PHONE',
 'AGENT_ATTORNEY_PHONE_EXT',
 'AGENT_ATTORNEY_ADDRESS_1',
 'AGENT_ATTORNEY_ADDRESS_2',
 'AGENT_ATTORNEY_CITY',
 'AGENT_ATTORNEY_STATE_PROVINCE',
 'AGENT_ATTORNEY_COUNTRY',
 'AGENT_ATTORNEY_POSTAL_CODE',
 'AGENT_ATTORNEY_EMAIL',
 'PW_TRACK_NUMBER',
 'PW_SOC_CODE',
 'PW_SOC_TITLE',
 'PW_SKILL_LEVEL',
 'PW_WAGE',
 'PW_UNIT_OF_PAY',
 'PW_WAGE_SOURCE',
 'PW_SOURCE_NAME_OTHER',
 'PW_DETERMINATION_DATE',
 'PW_EXPIRATION_DATE',
 'WAGE_OFFER_FROM',
 'WAGE_OFFER_TO',
 'WAGE_OFFER_UNIT_OF_PAY',
 'WORKSITE_ADDRESS_1',
 'WORKSITE_ADDRESS_2',
 'WORKSITE_CITY',
 'WORKSITE_STATE',
 'WORKSITE_POSTAL_CODE',
 'JOB_TITLE',
 'MINIMUM_EDUCATION',
 'JOB_EDUCATION_MIN_OTHER',
 'MAJOR_FIELD_OF_STUDY',
 'REQUIRED_TRAINING',
 'REQUIRED_TRAINING_MONTHS',
 'REQUIRED_FIELD_OF_TRAINING',
 'REQUIRED_EXPERIENCE',
 'REQUIRED_EXPERIENCE_MONTHS',
 'ACCEPT_ALT_FIELD_OF_STUDY',
 'ACCEPT_ALT_MAJOR_FLD_OF_STUDY',
 'ACCEPT_ALT_COMBO',
 'ACCEPT_ALT_COMBO_EDUCATION',
 'ACCEPT_ALT_COMBO_ED_OTHER',
 'ACCEPT_ALT_COMBO_EDUCATION_YRS',
 'ACCEPT_FOREIGN_EDUCATION',
 'ACCEPT_ALT_OCCUPATION',
 'ACCEPT_ALT_OCCUPATION_MONTHS',
 'ACCEPT_ALT_JOB_TITLE',
 'JOB_OPP_REQUIREMENTS_NORMAL',
 'FOREIGN_LANGUAGE_REQUIRED',
 'SPECIFIC_SKILLS',
 'COMBINATION_OCCUPATION',
 'OFFERED_TO_APPL_FOREIGN_WORKER',
 'FOREIGN_WORKER_LIVE_ON_PREM',
 'FOREIGN_WORKER_LIVE_IN_DOM_SER',
 'FOREIGN_WORKER_LIVE_IN_DOM_SVC_CNT',
 'PROFESSIONAL_OCCUPATION',
 'APP_FOR_COLLEGE_U_TEACHER',
 'COMPETITIVE_PROCESS',
 'BASIC_RECRUITMENT_PROCESS',
 'TEACHER_SELECT_DATE',
 'TEACHER_PUB_JOURNAL_NAME',
 'ADD_RECRUIT_INFORMATION',
 'SWA_JOB_ORDER_START_DATE',
 'SWA_JOB_ORDER_END_DATE',
 'SUNDAY_EDITION_NEWSPAPER',
 'FIRST_NEWSPAPER_NAME',
 'FIRST_ADVERTISEMENT_START_DATE',
 'SECOND_NEWSPAPER_AD_NAME',
 'SECOND_ADVERTISEMENT_TYPE',
 'SECOND_AD_START_DATE',
 'JOB_FAIR_FROM_DATE',
 'JOB_FAIR_TO_DATE',
 'ON_CAMPUS_RECRUITING_FROM_DATE',
 'ON_CAMPUS_RECRUITING_TO_DATE',
 'EMPLOYER_WEBSITE_FROM_DATE',
 'EMPLOYER_WEBSITE_TO_DATE',
 'PRO_ORG_AD_FROM_DATE',
 'PRO_ORG_ADVERTISEMENT_TO_DATE',
 'JOB_SEARCH_WEBSITE_FROM_DATE',
 'JOB_SEARCH_WEBSITE_TO_DATE',
 'PVT_EMPLOYMENT_FIRM_FROM_DATE',
 'PVT_EMPLOYMENT_FIRM_TO_DATE',
 'EMPLOYEE_REF_PROG_FROM_DATE',
 'EMPLOYEE_REFERRAL_PROG_TO_DATE',
 'CAMPUS_PLACEMENT_FROM_DATE',
 'CAMPUS_PLACEMENT_TO_DATE',
 'LOCAL_ETHNIC_PAPER_FROM_DATE',
 'LOCAL_ETHNIC_PAPER_TO_DATE',
 'RADIO_TV_AD_FROM_DATE',
 'RADIO_TV_AD_TO_DATE',
 'EMP_RECEIVED_PAYMENT',
 'PAYMENT_DETAILS',
 'BARGAINING_REP_NOTIFIED',
 'POSTED_NOTICE_AT_WORKSITE',
 'LAYOFF_IN_PAST_SIX_MONTHS',
 'US_WORKERS_CONSIDERED',
 'COUNTRY_OF_CITIZENSHIP',
 'FOREIGN_WORKER_BIRTH_COUNTRY',
 'CLASS_OF_ADMISSION',
 'FOREIGN_WORKER_EDUCATION',
 'FOREIGN_WORKER_EDUCATION_OTHER',
 'FOREIGN_WORKER_INFO_MAJOR',
 'FOREIGN_WORKER_YRS_ED_COMP',
 'FOREIGN_WORKER_INST_OF_ED',
 'FOREIGN_WORKER_ED_INST_ADD_1',
 'FOREIGN_WORKER_ED_INST_ADD_2',
 'FOREIGN_WORKER_ED_INST_CITY',
 'FOREIGN_WORKER_ED_INST_STATE_P',
 'FOREIGN_WORKER_ED_INST_COUNTRY',
 'FOREIGN_WORKER_ED_INST_POST_CD',
 'FOREIGN_WORKER_TRAINING_COMP',
 'FOREIGN_WORKER_REQ_EXPERIENCE',
 'FOREIGN_WORKER_ALT_ED_EXP',
 'FOREIGN_WORKER_ALT_OCC_EXP',
 'FOREIGN_WORKER_EXP_WITH_EMPL',
 'FOREIGN_WORKER_EMPL_PAY_FOR_ED',
 'FOREIGN_WORKER_CURR_EMPLOYED',
 'EMPLOYER_COMPLETED_APPLICATION',
 'PREPARER_NAME',
 'PREPARER_TITLE',
 'PREPARER_EMAIL',
 'EMP_INFO_DECL_NAME',
 'EMP_DECL_TITLE',
 'Unnamed: 154']

In [ ]:
df_perm2 = df_perm[['CASE_STATUS',
                    'EMPLOYER_NAME',
                    'EMPLOYER_ADDRESS_1',
                    'EMPLOYER_CITY',
                    'EMPLOYER_STATE_PROVINCE',
                    'EMPLOYER_COUNTRY',
                    'EMPLOYER_POSTAL_CODE',
                    'PW_SOC_CODE',
                    'PW_SOC_TITLE',
                    'PW_WAGE',
                    'COUNTRY_OF_CITIZENSHIP',
                    'FOREIGN_WORKER_BIRTH_COUNTRY',
                    'CLASS_OF_ADMISSION']]
df_perm2.head()

  CASE_STATUS  ... CLASS_OF_ADMISSION
0   Withdrawn  ...                B-2
1      Denied  ...               H-1B
2   Certified  ...               H-1B
3   Certified  ...               H-1B
4   Certified  ...               H-1B

[5 rows x 13 columns]

In [ ]:
pd.set_option('display.max_rows', 100)
print(df_perm.isnull().sum())

CASE_NUMBER               0
CASE_STATUS               0
RECEIVED_DATE             0
DECISION_DATE             0
REFILE                    1
                      ...
PREPARER_TITLE         1119
PREPARER_EMAIL         1125
EMP_INFO_DECL_NAME        0
EMP_DECL_TITLE            2
Unnamed: 154          17927
Length: 155, dtype: int64

In [ ]:
df_perm2.describe(include='all')

       CASE_STATUS  ... CLASS_OF_ADMISSION
count        17927  ...              16462
unique           3  ...                 38
top      Certified  ...               H-1B
freq         15839  ...              11159
mean           NaN  ...                NaN
std            NaN  ...                NaN
min            NaN  ...                NaN
25%            NaN  ...                NaN
50%            NaN  ...                NaN
75%            NaN  ...                NaN
max            NaN  ...                NaN

[11 rows x 13 columns]